
  <div id="divScreenBlock" class="modal fade" data-keyboard="false" data-backdrop="static" >
                <div class="container verticalAlignmentHelper">
                  <div class="row verticalAlignCenter">
                  </div>
                </div>
  </div>

  <div id="divAlertMensajeError" class="modal fade" data-keyboard="false" data-backdrop="static" >
        <div class="container uploadMensajeConfirmacionContainer verticalAlignmentHelper">
          <div class="row verticalAlignCenter">
            <div class="col-xs-12">
              <div class="panel panel-danger">
                <div class="panel-heading text-center"><span id="spaMensajeAlertaError"></span></div>
                <div class="panel-body">
                  <div class="row paddingTop10 marginBottom10">
                    <div class="text-center">                            
                      <button id="btnAlertMensajeError" type="button" class="btn btn-danger btn-sm">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div><!--divAlertMensajeError -->  

  <div id="divMensajeConfirmar" class="modal fade" data-keyboard="false" data-backdrop="static" >
        <div class="container uploadMensajeConfirmacionContainer verticalAlignmentHelper">
          <div class="row verticalAlignCenter">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading text-center"><span id="spanMensajeConfirmar"></span></div>
                <div class="panel-body">
                  <div class="row paddingTop10 marginBottom10">
                    <div class="text-center">                            
                      <button id="btnMensajeConfirmar" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonSmallClass">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div><!--divMensajeConfirmar -->  

  <div id="divScreenBlock" class="modal fade" data-keyboard="false" data-backdrop="static" >
        <div class="container verticalAlignmentHelper">
          <div class="row verticalAlignCenter">
          </div>
        </div>
  </div><!--divScreenBlock --> 