   <div id="divJqGridFiles" class="row jqGridUpload">
                  <div id="divButtonAgregar" class="col-xs-12">
                      <div id="divLoadingUploadFile" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 divLoadingClase">
                        <span>
                          <img src="../static/images/loader.gif" alt="loader">Cargando
                        </span>
                      </div>
                       <button id="ul_btn"  type="button" class="btn btn-primary btn-sm" >Agregar</button> 
                  </div>
                  <div id="divFilesTable" class="col-xs-12">
                    <table id="tblFiles"></table>

                    <div id="divFilesPagerTable" class="jqGridUploadPagerClass"></div>
                  </div>
</div><!-- divJqGridFiles-->